.filter-button {
  background-color: white;
  color: grey;
  width: 125px;
}

.filter-button:hover {
  background-color: lightgrey;
  color: black;
}

.new-task {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.btn-secondary {
  border-color: lightgray;
}
.btn-secondary:hover {
  border-color: grey;
}

.t-header {
  color: lightgray;
}

.task-table {
  border: 1px solid lightgray;
  border-collapse: separate !important;
  border-radius: 10px;
  display:grid;
}
thead>td {
}

.table-row {
  justify-content: space-between;
}

/* .status-button::after {
  position:fixed;
  offset: 2px right;
} */
