<div class="container vh-100 mt-5">
  <div class="new-task">
    <div class="h1">Task List</div>
    <button
      class="btn btn-success"
      style="min-width: 150px; border-radius: 10px; max-height: 40px"
    >
      New Task
    </button>
  </div>
  <div class="d-flex inline-flex ml-2 mt-3">
    <h5>Filters:</h5>
    <div class="btn-group">
      <button
        class="btn btn-secondary btn-sm dropdown-toggle ml-3 filter-button"
        type="button"
        data-toggle="dropdown"
        aria-expanded="false"
        (click)="isStatusExpanded = !isStatusExpanded"
      >
        Status
      </button>
      <div
        class="dropdown-menu dropdown-menu-right"
        [class.show]="isStatusExpanded"
      >
        <a
          href="#"
          class="dropdown-item"
          (click)="isStatusExpanded = !isStatusExpanded"
          >Example</a
        >
      </div>
    </div>
    <div class="btn-group">
      <button
        class="btn btn-secondary btn-sm dropdown-toggle ml-3 filter-button"
        type="button"
        data-toggle="dropdown"
        aria-expanded="false"
        (click)="isDateExpanded = !isDateExpanded"
      >
        Date
      </button>
      <div
        class="dropdown-menu dropdown-menu-right"
        [class.show]="isDateExpanded"
      >
        <a
          href="#"
          class="dropdown-item"
          (click)="isDateExpanded = !isDateExpanded"
          >Example</a
        >
      </div>
    </div>
    <div class="btn-group">
      <button
        class="btn btn-secondary btn-sm dropdown-toggle ml-3 filter-button"
        type="button"
        data-toggle="dropdown"
        aria-expanded="false"
        (click)="isPriorityExpanded = !isPriorityExpanded"
      >
        Priority
      </button>
      <div
        class="dropdown-menu dropdown-menu-right"
        [class.show]="isPriorityExpanded"
      >
        <a
          href="#"
          class="dropdown-item"
          (click)="isPriorityExpanded = !isPriorityExpanded"
          >Example</a
        >
      </div>
    </div>
  </div>
  <div class="mt-1">
    <table class="table" style="border-radius: 5px; border: 1px solid lightgray;">
      <thead>
        <tr>
          <td scope="col" class="t-header">Title</td>
          <td scope="col" class="t-header">Due Date</td>
          <td scope="col" class="t-header">Priority</td>
          <td scope="col" class="t-header">Status</td>
          <td scope="col" class="t-header">Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>Larry the Bird</td>
          <td>Larry the Bird Jr</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-around"></div>
</div>
