.filter-button {
  background-color: white;
  color: grey;
  width: 125px;
}

.filter-button:hover {
  background-color: lightgrey;
  color: black;
}

.new-task {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.btn-secondary {
  border-color: lightgray;
}
.btn-secondary:hover {
  border-color: grey;
}

/* table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse !important;
  border: 1px solid lightgray;
  height: auto;
  display: table;
} */

.task-table {
  border: 1px solid lightgray;
  border-collapse: separate !important;
  border-radius: 10px;
  display:table;
  min-width: 100%
}

.table-row {
  justify-content: space-between;
}

